<div class="row" ng-controller="CampaignDetailCtrl">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">Campaign Detail</span>
                <div class="widget-buttons">
                    <a href="" widget-maximize></a>
                    <a href="" widget-collapse></a>
                    <a href="" widget-dispose></a>
                </div>
            </div>
            <div class="widget-body" >
                <table ui-jq="dataTable" ui-options="campaignDetailsTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Campaign Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>UURL</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

<!--                <table id="example" class="display nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>ZIP / Post code</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                </table>-->
            </div>
        </div>
    </div>
</div>