<style type="text/css">
    .header-avatar {
    background-clip: padding-box;
    border: 5px solid #f5f5f5;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    height: 125px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 12px;
    width: 125px;
}
.databox.databox-vertical.databox-xlg {
    height: 155px;
    width: 80%;
}
label {
   
    width: 100%;
    text-align: center;
    font-weight: bold;
}
</style>
<div class="row" ng-controller="ProfileCtrl">
    <div class="btn-group" style="float: right;">
        <button type="button" class="btn btn-default"><i class="fa fa-ellipsis-v"></i> Actions</button>
        <button type="button" class="btn btn-default"><i class="fa fa-sort"></i> Sort</button>
        <button type="button" class="btn btn-default"><i class="fa fa-list"></i> View</button>
        <button type="button" class="btn btn-default"><i class="fa fa-info-circle"></i> Activity</button>
    </div>
    <div class="col-md-12">


        <div class="profile-container">  

            <div class="profile-body">
                <div class="col-lg-12">

                            <div class="row profile-overview">
                                <div class="col-md-8" style="width: 100%"> 
                                    <div class="row" style="width: 100%">
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/folder-1.png">
                                               <label>Sub-folder</label> 
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/text.png">
                                               <label>lorem-copy.docx</label>  
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/audio.png">
                                               <label>lorem-123.mp3</label>  
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/video.png">
                                               <label>lorem-456.mp4</label>  
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" style="width: 100%">
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/folder-1.png">
                                               <label>Sub-folder</label> 
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/text.png">
                                               <label>lorem-copy.docx</label>  
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/audio.png">
                                               <label>lorem-123.mp3</label>  
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/video.png">
                                               <label>lorem-456.mp4</label>  
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" style="width: 100%">
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/folder-1.png">
                                               <label>Sub-folder</label> 
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/text.png">
                                               <label>lorem-copy.docx</label>  
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/audio.png">
                                               <label>lorem-123.mp3</label>  
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6 col-xs-12" style="width: 25%">
                                            <div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom">
                                               <img class="header-avatar" alt="" src="assets/img/avatars/video.png">
                                               <label>lorem-456.mp4</label>  
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>