
<div class="login-container animated fadeInDown" ng-controller="AdminloginCtrl">

    <div class="loginbox bg-white">

        <div class="loginbox-title">Forgot Password</div>
        <div class="loginbox-social">
            <div class="social-title ">Send link to reset your password</div>

        </div>
        <form role="form" ng-submit="forgotPassword()" name="ForgotPassForm" id="ForgotPassForm">
            <div class="loginbox-textbox">
                <input type="email" class="form-control" placeholder="Email" required  ng-model="email" />
                <span class="error" ng-show="ForgotPassForm.email.$error.required && ForgotPassForm.email.$dirty">Email is required.</span>
                <span class="error" ng-show="ForgotPassForm.email.$error.email">Invalid email address.</span>
            </div>

            <div class="loginbox-forgot">
                <a ui-sref="login">Login</a>
            </div>
            <div class="loginbox-submit">
                <input type="submit" class="btn btn-primary btn-block" value="Submit">
            </div>
            <!--<div class="loginbox-signup">
                <a href="register.html">Sign Up With Email</a>
            </div>-->
        </form>
    </div>



    <div class="logobox" ng-show="errorMsg" role="alert" style="color:red;text-align:center;">{{errorMsg}}

    </div>

</div>
