
<div class="login-container animated fadeInDown" ng-controller="AdminloginCtrl">

    <div class="loginbox bg-white">

        <div class="loginbox-title">Reset Password</div>
        <div class="loginbox-social">
            <div class="social-title ">Type your New password</div>

        </div>

        <form ng-submit="confirmPassword()" role="form">

            <div class="loginbox-textbox">
                <input type="password" class="form-control" placeholder="Password" required ng-model="newPassword" id="passwd"/>
            </div>
            <div class="loginbox-textbox">
                <input type="password" class="form-control" placeholder="Confirm Password" required ng-model="cPassword" pw-check="passwd" />
            </div>
            <div class="loginbox-forgot">
                <a ui-sref="login">Login</a>
            </div>
            <div class="loginbox-submit">
                <input type="submit" class="btn btn-primary btn-block" value="Submit">
            </div>
            <!--<div class="loginbox-signup">
                <a href="register.html">Sign Up With Email</a>
            </div>-->
        </form>
    </div>



    <div class="logobox" ng-show="errorMsg" role="alert" style="color:red;text-align:center;">{{errorMsg}}

    </div>

</div>
