<div ng-controller="SquibCardCtrl">
    <div class="row">
        <!-- col-md-4 -->
        <div class="col-lg-4 col-sm-6 col-xs-12 equal_height" ng-repeat="squibcard in squibcards" > 
            <!-- BEGIN USER CARD -->
            <div class="the-box no-border full full-width card-info text-center">
                <div class="the-box-inner relative" ng-bind-html="convertHtml(squibcard.template)" ></div>

                <!--<div class="the-box-inner relative" ng-bind-html="convertHtml(squibcard.template)" ></div>-->
                <div class="the-box no-border text-center">
                    <h4 class="bolded themeprimary">{{squibcard.name}}</h4>
                    <label>
                        <input class="checkbox-slider colored-primary" type="checkbox" ng-model="squibcard.status" ng-change="squibcardStatus()">
                        <span class="text"></span> </label>
                </div>
                
            </div><div class="clearfix"></div>
            <!-- END USER CARD --> 
        </div>
    </div>  
</div>

<script>
    $(document).ready(function () {
        var biggestHeight = 0;
        //check each of them
        $('.equal_height').each(function () {
            //if the height of the current element is
            //bigger then the current biggestHeight value
            if ($(this).height() > biggestHeight) {
                //update the biggestHeight with the
                //height of the current elements
                biggestHeight = $(this).height();
            }
        });
        //when checking for biggestHeight is done set that
        //height to all the elements
        $('.equal_height').height(biggestHeight);

    })
</script>